Repository leandroohf/mlops: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-and-update-modified, circlec-howto-modified

doc: [skip ci]
  bike_share_batch_prediction_simple/README.md
  google_cloud_cheet_sheet.md
Due: build-and-update-modified

doc: [skip ci]
  bike_share_batch_prediction_simple/README.md
Due: build-and-update-modified

doc: [skip ci]
  google_cloud_cheet_sheet.md
Due: none

doc: review README.md
  bike_share_batch_prediction_simple/README.md
Due: build-and-update-modified

dev:
  astronomer_airflow/dags/composer_checks.py
Due: none

mlops: add pre commit check for leakages hook
  .pre-commit-config.yaml
Due: none

doc: small review
  astronomer_airflow/composer_deployment.org
  astronomer_airflow/dags.org
Due: none

mlops: ignoring secrets file
  astronomer_airflow/secrets/.gitignore
Due: none

dev: astronomer n airflow tutorial n notes
  astronomer_airflow/.astro/config.yaml
  astronomer_airflow/.dockerignore
  astronomer_airflow/.env-example
  astronomer_airflow/.gitignore
  astronomer_airflow/Dockerfile
  astronomer_airflow/Dockerfile_vertexai_image
  astronomer_airflow/README.md
  astronomer_airflow/airflow_cheet_sheet.org
  astronomer_airflow/app/train.py
  astronomer_airflow/build_app.py
  astronomer_airflow/composer_deployment.org
  astronomer_airflow/dags.org
  astronomer_airflow/dags/composer_checks.py
  astronomer_airflow/dags/consumer.py
  astronomer_airflow/dags/exampledag.py
  astronomer_airflow/dags/gcp_smoke_connection_test.py
  astronomer_airflow/dags/hello.py
  astronomer_airflow/dags/package_requirement_and_write_data_checks.py
  astronomer_airflow/dags/producer.py
  astronomer_airflow/dags/sensor.py
  astronomer_airflow/dags/shared/__init__.py
  astronomer_airflow/dags/shared/dags_util.py
  astronomer_airflow/dags/shared/datasets.py
  astronomer_airflow/dags/vertexai.py
  astronomer_airflow/dags/vertexai_check.py
  astronomer_airflow/dags/xcom.py
  astronomer_airflow/docker-compose.override.yml
  astronomer_airflow/packages.txt
  astronomer_airflow/requirements.txt
  astronomer_airflow/runbook.org
  astronomer_airflow/secrets/.dockerignore
  astronomer_airflow/secrets/.gitignore
  astronomer_airflow/tests/dags/test_dag_example.py
  circleci_howto/README.org
Due: circlec-howto-modified

dev: adding astronomer files
  astronomer_airflow/.astro/dag_integrity_exceptions.txt
  astronomer_airflow/.astro/test_dag_integrity_default.py
Due: none

mlops+fix: deprecated warning
  .pre-commit-config.yaml
Due: none

mlops:
  astronomer_airflow/secrets/.dockerignore
Due: none

refactor: rename main airflow tutorial doc files
  astronomer_airflow/README.org
  astronomer_airflow/README_from_astronomer_team.md
  astronomer_airflow/airflow_cheat_sheet.org
  astronomer_airflow/runbook.org
Due: none

doc: reviewing
  bike_share_batch_prediction_simple/README.md
Due: build-and-update-modified

doc: scale horizontally
  bike_share_batch_prediction_simple/README.md
Due: build-and-update-modified

doc: review
  google_cloud_cheet_sheet.md
Due: none

doc: scale vertically
  bike_share_batch_prediction_simple/README.md
Due: build-and-update-modified

dev: (WIP) VertexAI tutorial
  vertexai/Dockerfile
  vertexai/README.org
  vertexai/kfp_cheat_sheet.org
  vertexai/pipeline.py
  vertexai/requirements.txt
  vertexai/run_local.py
  vertexai/run_pipeline.py
  vertexai/src/__init__.py
  vertexai/src/artifact_io.py
  vertexai/src/preprocessing.py
  vertexai/src/training.py
  vertexai/src/validation.py
Due: none

dev: vertexai pipe is running
  vertexai/README.org
  vertexai/pipeline.py
  vertexai/run_local.py
  vertexai/run_pipeline.py
  vertexai/run_vertexai.py
  vertexai/src/artifact_io.py
  vertexai/src/executor.py
  vertexai/src/preprocessing.py
  vertexai/src/training.py
Due: none

mlops: adding files
  vertexai/.env-example
  vertexai/latest.yaml
Due: none

mlops: adding utils file
  vertexai/src/utils.py
Due: none

mlops: working with multiple versions
  vertexai/latest.yaml
  vertexai/pipeline.py
Due: none

dev: adding stable publish path as output parameter
  vertexai/README.org
  vertexai/kfp_cheat_sheet.org
  vertexai/latest.yaml
  vertexai/pipeline.py
  vertexai/run_local.py
  vertexai/run_vertexai.py
  vertexai/src/validation.py
Due: none

dev: predictor
  vertexai/README.org
  vertexai/pipeline.py
  vertexai/src/artifact_io.py
  vertexai/src/preprocessing.py
  vertexai/src/utils.py
Due: none

refactor:
  vertexai/.env-example
  vertexai/run_local.py
Due: none

dev: publish in vertexai model registry
  vertexai/pipeline.py
Due: none

doc: review
  vertexai/README.org
  vertexai/kfp_cheat_sheet.org
Due: none

doc: adding pipe image
  vertexai/README.org
  vertexai/images/pipeline.png
Due: none

refactor+doc: review
  bike_share_batch_prediction_simple/common/artifact_store.py
  google_cloud_cheet_sheet.md
  vertexai/requirements.txt
Due: build-and-update-modified

dev: sparse sensor data injection pipeline
  sensor_and_stream_data/README.org
  sensor_and_stream_data/cloud_functions/raw_ingest_to_bq/main.py
  sensor_and_stream_data/cloud_functions/raw_ingest_to_bq/requirements.txt
  sensor_and_stream_data/scripts/sensors.py
Due: none

doc: review
  sensor_and_stream_data/README.org
Due: none

dev: add batch predictors to vertexai proj
  vertexai/pipeline.py
  vertexai/run_batch_predictor.py
  vertexai/src/predictor.py
Due: none

doc: add pipeline diagrams to stream data proj
  sensor_and_stream_data/images/apache_beam_pipeline_diagram.png
  sensor_and_stream_data/images/dataflow_template_pipeline_diagram.png
Due: none

doc: review google cloud cheat sheet
  google_cloud_cheet_sheet.md
Due: none

dev: proj stream data
  sensor_and_stream_data/README.org
  sensor_and_stream_data/cloud_functions/update_station_features/main.py
  sensor_and_stream_data/cloud_functions/update_station_features/requirements.txt
  sensor_and_stream_data/cloud_functions/update_station_features/upsert_station_features.sql
  sensor_and_stream_data/dot_env_example
  sensor_and_stream_data/requirements.txt
  sensor_and_stream_data/scripts/create_apache_beam_stream_pipe.py
  sensor_and_stream_data/scripts/sensors.py
Due: none

dev: finished phase 2
  sensor_and_stream_data/README.org
Due: none

Path conditions:
  build-and-update-modified: any of: bike_share_batch_prediction_simple/.*
  circlec-howto-modified: any of: circleci_howto/.*
